
<div style="font-size: 30px;line-height: 1.5;" class="container">
    <br>
    <div>
<span style="text-decoration:underline; font-weight:500" >Business</span>
    <br><br>
Smartfuture offre des solutions technologiques de haute valeur ajoutée pour les entreprises et accompagne ses clients dans le déploiement et l’intégration de ces technologies.
    </div>
<br>
    <div>
        <span style="text-decoration:underline; font-weight:500" >Education</span>
<br><br>
Smartfuture est très active dans le secteur de l’éducation en fournissant aux établissements académiques des solutions innovantes pour améliorer continuellement leurs prestations afin de répondre aux exigences et impressionner continuellement leurs apprenants .
    </div>
<br>
    <div>
        <span style="text-decoration:underline; font-weight:500" >Training</span>
<br><br>
Smartfuture est un centre de formation et de certification des compétences depuis plus de 20 ans. Smartfuture dispose d’un portefeuille de formateurs experts dans leurs modules d’intervention et dotés d’une grande expérience pédagogique.
    </div>
<br>
</div>