
<div class="login-page">
    <div class="form">
        <h2 style="color: #2f3d4a;">User Sign Up Page</h2>
        <br>
      <form [formGroup]="signForm" class="login-form" >
        <input type="text" formControlName="fullname" placeholder="fullname"/>
        <div *ngIf="fullname?.errors?.['required'] && fullname?.dirty" class="alert alert-danger">Name Required <br><br></div>
        <br><br>
        <input type="number" formControlName="age" placeholder="age" min="0" max="99"/>
        
        <div *ngIf="isValidLenth()" class="alert alert-danger">Age has to be between 10-99 <br><br></div>
        <div *ngIf="age?.errors?.['required'] && age?.dirty" class="alert alert-danger" >Age Required <br><br></div>
        <br><br>
        <input type="email" formControlName="mail" placeholder="email"/>
        
        <div *ngIf="isValidPattern()" class="alert alert-danger">Invalid Mail Format<br><br></div>
        <div *ngIf="mail?.errors?.['required'] && mail?.dirty"  class="alert alert-danger">Email Required<br><br></div>
        <br><br>
        <input type="password" formControlName="password" placeholder="password"/>
        
        <div *ngIf="isValidPass()" class="alert alert-danger" style="height:155px">Invalid Password, It has to have : <br>At least 8 characters<br>Lowercase letters<br>Upperscase letters<br>Numbers<br>Speical characters<br><br><br><br></div>
        <div *ngIf="password?.errors?.['required'] && password?.dirty" class="alert alert-danger" >Password Required <br><br></div>
        <br><br>
        <button [disabled]="signForm.invalid"  (click)="signup()">Sign Up</button>
        <br><br>
        <p class="message">Alreay have an account? <a routerLink="../login">Log In</a></p>
      </form>
    </div>
</div>