<div style="background: rgb(84, 99, 108);color:white;">
    <br>
    <img class="img1" src="assets/sm.png"/>
    <br><br>
    <p class="p1">Smartfuture est conçu pour contribuer à éclairer votre avenir et le rendre plus intelligent.<br><br> Nous croyons que les compétences sont la clé du succès.</p>
    <br><br>
    <div class="div1">
        <table width="100%">
            <tr style="font-size: 35px;">
                <th>Business</th>
                <th>Education</th>
                <th>Training</th>
                <th>Contact</th>
            </tr>
            <br>
            <tr class="tra">
                <td>Solution Microsoft Cloud</td>
                <td>Microsoft 365 A3 Education</td>
                <td>Microsoft</td>
                <td><mat-icon> call</mat-icon>&nbsp;+216 70 100 500</td>
            </tr>
            <br>
            <tr class="tra">
                <td>Portfolio Project Management</td>
                <td>Microsoft Imagine Academy</td>
                <td>Project Management</td>
                <td><mat-icon> mail</mat-icon>&nbsp;info@smartfuture.tn</td>
            </tr>
            <br>
            <tr class="tra">
                <td rowspan="3"></td>
                <td>Mise en place centre Certiport</td>
                <td>SoftSkills</td>
                <td><mat-icon> facebook</mat-icon>&nbsp;Smartfuture.officiel</td>
            </tr>
            <br>
            <tr class="tra">
                <td>Vouchers d’examen de certification</td>
                <td>Linux</td>
                <td><mat-icon>location_on</mat-icon>&nbsp;47, Av Mouaouia<br>
                    Ibn Abi Sofiane
                    El Menzah 6<br>
                    2091 Ariana
                    Tunisie</td>
            </tr>
        </table>
    </div>
    <div style="background: #303d49; font-size: 20px;text-align: center;" >
        <br><br>
        <span >Powered by Smartfuture</span>
        <br><br><br>
    </div>
</div>